@use 'index';
@use 'breakpoints';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.error-message {
  background-color: white;
  color: red;
  padding: 7px 17px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.9em;
}

.current-weather-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  width: 700px;
  margin-top: 20px;
}

.weather-heading {
  text-align: center;

  h2 {
    font-size: 2.3em;
    font-weight: bold;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(211, 211, 211);
  }
}

.weather-body {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 2fr;
}

.weather-main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  gap: 20px;

  .weather-main-top {
    display: flex;
    img {
      @include index.icon-size(90px);
    }
    p {
      font-size: 3.8em;
      font-weight: bold;
    }
  }

  .weather-main-bottom {
    .condition-text {
      font-size: 1.4em;
      font-weight: bold;
    }
    .feels-like {
      font-size: 1.1em;
      font-weight: bold;
      color: rgb(211, 211, 211);
    }
  }
}

.weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  div div {
    display: flex;
    position: relative;
  }

  h4 {
    color: rgb(211, 211, 211);
    margin-bottom: 7px;
    font-size: 1.1em;
  }

  p {
    font-size: 1.3em;
    font-weight: bold;
  }
}

.forecast-container {
  display: grid;
  justify-content: center;
  margin-bottom: 100px;

  .day-container:not(:last-child) {
    border-bottom: 2px solid white;
  }
}

.forecast-title {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}

.day-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
  align-items: center;

  font-size: 1.2em;
  font-weight: bold;
  padding: 14px 0px;

  img {
    @include index.icon-size(30px);
  }

  .day-main,
  .max-wind {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .min-temp {
    color: rgb(211, 211, 211);
  }
}

.wind-degree {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 23px;
    fill: white;
  }
}
